# Python
__pycache__/
*.py[cod]
*.so
*.log
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/

# VSCode or IDEs
.vscode/
.idea/

# Virtual Environments
env/
venv/
ENV/
.venv/
.Python

# OS files
.DS_Store
Thumbs.db

# Ollama
ollama_data/

# Streamlit
.streamlit/secrets.toml

# Benchmark artifacts
benchmarks/*.txt
